{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Hurricane Hunter</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body class="back">
	<!-- your single-location forecast interface here -->
  
  <input type="image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1200px-Hamburger_icon.svg.png" style="height : 50px;">

    
  <div>
      <img src="http://aux2.iconspalace.com/uploads/system-preferences-icon-256-496431283.png" class="right"/>
  </div>

  <div>
    <p align="center" style="color:red; font-weight: bold;">Showing Storms Between: 06/30/2019-07/07/2019</p>
  </div>


</body>
</html>





