{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Upcoming Storms</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
  
  <!-- /Bootstrap enable -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet"> 

</head>
<body>

	<!-- replace this html -->
  
  <body class="text-center" style="padding: 20PX;">
    
  <div>
  
    <div class="row">
      <div class = "col-xs-1">
        <!-- /change view to map button -->
        <input type="image" src="https://image.flaticon.com/icons/png/512/44/44386.png" style="height : 50px;">
      </div>
    </div>
    
   <div id="content">
      <input type="image" src="http://aux2.iconspalace.com/uploads/system-preferences-icon-256-496431283.png" style="height : 50px;" class="right"/>
  </div>
    
    
  <div>
    <h1> Upcoming Storms</h1>
		<p style="color:red;">06/30/2019-07/07/2019</p>
  </div>
    
  <div>
    <div class="row" style="padding: 20PX;">
      
      <div class = "col-xs-1"></div>
      
      <div class = "col-xs-2">
        <!-- /change view to map -->

        <img src = "http://pluspng.com/img-png/png-location-location-20icon-20map-800.png" style = "height : 50px">
      </div>
      
       <div class = "col-xs-2">
        <!-- /change view to map -->
        <img src = "https://cdn4.iconfinder.com/data/icons/science-64/32/science-08-512.png" style = "height : 50px">
       </div>
      
       <div class = "col-xs-2">
        <!-- /change view to map -->
        <img src = "https://cdn4.iconfinder.com/data/icons/heavy-weather/100/Weather_Icons_07_windy-512.png" style = "height : 50px">
       </div>
      
       <div class = "col-xs-2">
        <!-- /change view to map -->
        <img src = "https://image.flaticon.com/icons/png/512/51/51804.png" style = "height : 50px">
       </div>
      
       <div class = "col-xs-2">
        <!-- /change view to map -->
        <img src = "http://cdn.onlinewebfonts.com/svg/img_330749.png" style = "height : 50px">
       </div>
      
       <div class = "col-xs-1"></div>
      
      
      <!-- /add table elements -->
      <div class = "col-xs-1"></div>
      
      <div class = "col-xs-2" style="padding: 20PX;">
        <!-- /change view to map -->
        Berkeley, CA, USA
      </div>
      
      <div class = "col-xs-2" style="padding: 20PX;">
        <!-- /change view to map -->
        -21°C
      </div>
      
      <div class = "col-xs-2" style="padding: 20PX;">
        <!-- /change view to map -->
        102 km/h
      </div>
      
      <div class = "col-xs-2" style="padding: 20PX;">
        <!-- /change view to map -->
        12 mm/min
      </div>
      
      <div class = "col-xs-2" style="padding: 20PX;">
        <!-- /change view to map -->
        ☆☆☆
      </div>
      
      <div class = "col-xs-1">
        <button class="btn btn-info btn-lg" type="button">Details</button>
      </div>
      
      
      <div class = "col-xs-1"></div>
      
      <div class = "col-xs-2" style="padding: 20PX;">
        <!-- /change view to map -->
        Oakland, CA, USA
      </div>
      
      <div class = "col-xs-2" style="padding: 20PX;">
        <!-- /change view to map -->
        -14°C
      </div>
      
      <div class = "col-xs-2" style="padding: 20PX;">
        <!-- /change view to map -->
        67 km/h
      </div>
      
      <div class = "col-xs-2" style="padding: 20PX;">
        <!-- /change view to map -->
        3 mm/min
      </div>
      
      <div class = "col-xs-2" style="padding: 20PX;">
        <!-- /change view to map -->
        ☆☆
      </div>
      
      <div class = "col-xs-1">
        <button class="btn btn-info btn-lg" type="button">Details</button>
      </div>
      
      <div class = "col-xs-1"></div>
      
      <div class = "col-xs-2" style="padding: 20PX;">
        <!-- /change view to map -->
        New York, NY, USA
      </div>
      
      <div class = "col-xs-2" style="padding: 20PX;">
        <!-- /change view to map -->
        -35°C
      </div>
      
      <div class = "col-xs-2" style="padding: 20PX;">
        <!-- /change view to map -->
        121 km/h
      </div>
      
      <div class = "col-xs-2" style="padding: 20PX;">
        <!-- /change view to map -->
        14 mm/min
      </div>
      
      <div class = "col-xs-2" style="padding: 20PX;">
        <!-- /change view to map -->
        ☆☆☆☆☆
      </div>
      
      <div class = "col-xs-1">
        <button class="btn btn-info btn-lg" type="button">Details</button>
      </div>
      


<!-- 		<a href="/weather/forecast/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Forecast</a>
		<a href="/weather/forecast/alert/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Forecast with alert</a>
		<a href="/weather/comparison/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Comparison</a>
		<a href="/weather/comparison/alert/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Comparison with alert</a>
    
   
	 -->
        </div>
      </div>
    </div>
  </body>	
	<!-- /replace this html -->
</body>
</html>





